body
{
    background-image: url("../uploads/louvre.jpg");
    background-size: cover;
    background-position: center;
}



.louvre_logo
{
    /*margin: 1em;*/
    height: 60px;
}

.main-nav
{
    background-color: rgb(77,77,77);
    width:100%;

}
.main-nav__menu
{
    margin: 1em;
    display: flex;
    justify-content: space-around;
    margin-left: 15em;
    font-size: 1.2em;
    color: rgba(249,249,249,0.5);
    list-style-type: none;
}

.main-nav__menu-item-link
{
    color: rgba(249,249,249,0.5);
}

.main-nav__menu-item-link:hover
{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.main-nav__logo
{
    display: flex;
    justify-content: space-between;
  background-color: rgba(249,249,249,0.5);
}



.container
{
    background-color: rgb(235,235,235);
}

footer {
    position: absolute;
    left:0;
    right: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    background-color: rgb(77,77,77);
    padding: 15px;
    font-size: 0.8em;
    font-weight: inherit;
}

