{# src/AppBundle/Resources/views/Louvre/booking.html.twig #}

{% extends "AppBundle::layout.html.twig" %}

{% block app_body %}
    <div class="container-fluid">
    <h2>Initialisation projet_4</h2>
    <h1>Formulaire de réservation</h1>


    <p>Nombre de places disponibles <span class="badge">42</span></p>
    </div>
{% endblock %}