{# src/AppBundle/Resources/views/Louvre/booking.html.twig #}

{% extends "AppBundle::layout.html.twig" %}

{% block app_body %}
    <div class="container-fluid">

        <h1>Formulaire de réservation</h1>

        <p class="subtitle">Nombre de places disponibles <span class="badge">1000</span></p>
        <div class="row">
            <input name="login" type="text" placeholder="Nom" class="col-lg-3" required
                   autofocus><br/>
        </div>

        <div class="row">
            <input name="login" type="text" placeholder="Prénom" class="col-lg-3" required
                   autofocus><br/>
        </div>
<h2>Adresse</h2>
        <div class="row">
            <input name="login" type="text" placeholder="Rue" class="col-lg-6" required
                   autofocus><br/>
        </div>

        <div class="row">
            <input name="login" type="text" placeholder="Code Postal" class="col-lg-2" required
                   autofocus><br/>
        </div>

        <div class="row">
            <input name="login" type="text" placeholder="Ville" class="col-lg-3" required
                   autofocus><br/>
        </div>

        <div class="row">
            <input name="login" type="text" placeholder="Pays" class="col-lg-3" required
                   autofocus><br/>
        </div>

        <div class="row">
        <button type="button" id="btn-perso" class="col-sm-1">Suivant</button>
        <br/>
        </div>
    </div>
{% endblock %}